#Navbar{
    display: flex;
    justify-content:space-between;
    position: fixed;
    padding-right: 10px;
    color: #fff;
    background-color: black;
    width: 100%;
    height: 10vh;
    position: static;
}

#hamburger{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#hamburger input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#hamburger span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#hamburger span:first-child{
  transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#hamburger input:checked ~ span{
    transform: rotate(-45deg) translate(-2px, -2px);
    background: #ffffff;    
}

#hamburger input:checked ~ span:nth-last-child(3){
  opacity: 1;
  transform: rotate(45deg);
  background: #ffffff;
}

#hamburger input:checked ~ span:nth-last-child(2){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#settings{
    display: flex;
    justify-content:space-between;
}

#Navbar > img, #settings> img{
    margin: 10px;
}